
.grid-area3 {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "navb navb navb"
        "bann bann bann"
        "prop prop prop"
        "prod prod prod"  
        "foot foot foot";
}

.banner {
    grid-area: bann;
    display:flex;
    background: linear-gradient(rgb(4 1 1),rgba(0, 0, 0, 0.034)) ,url(../img/producto/barberia.jpg);
    background-attachment: fixed;
    text-align: center;
    height: 20rem;
    align-items: center;
    justify-content: center;
    background-size:cover;
    h2 {
        color: rgba(255, 255, 255, 0.467);
        text-decoration: underline;
        font-size: 4rem;
        font-style: oblique;
        text-transform: uppercase;
        font-stretch: condensed;
        font-weight: bold;
        animation-name: mover;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        }
        @keyframes mover{

        0% {
            transform:translateX(-5%);
        }

        50% {
            transform:translateX(10%);
        }

        100% {
            transform:translateX(0%);
        }
    }   
}

.prop {
    grid-area: prop;
    display: flex;
    flex-direction: column;
    height: 100rem;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(45deg, #84837c,#b0a299);
    .parrafo {
        justify-content: center;
        p {
            text-align: center;
            font-size: 2rem;
            font-weight: bolder;
        }
    }
    .imag {
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: space-evenly;
    img {
        border-radius: 2rem;
        border: 1rem solid gold;
        width: 30rem;
        margin: 1rem;
    }
    }
    .info {
        display: flex;
        flex-direction: column;
        border: 1rem  solid #dfc30f;
        width: 20rem;
        margin: 1rem;
        align-items: center;
        padding: 1rem;
        text-align: justify;
        background-color: #000000;
        color: white;
        h4 {
            text-align: center;
            text-decoration: underline;
        }
}
    .botonInfo {
        border: 0.5rem  solid #dfc30f;
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: #000000;
        h3 { 
            text-align: start;  
            text-decoration:underline;  
            color:white;
        }
    }
}



.grid-pr {
    grid-area: prod;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: black;
    padding: 2rem;
    .pr{
        display: flex;
        align-items: center;
        margin: 6rem;
        justify-content: space-around;
        text-align: center;
        height: auto;
        img{
            width: 25rem;
            height: auto;
            border-radius: 5rem;
            box-shadow: 0 0.5rem 1rem 0.5rem #b0a299;
            }
            .pr__texto {
            opacity: 0;
            font-size: 1.25rem;
            color: white;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            }
        }
        

        .pr:hover > .pr__texto {
            opacity: 1;
            text-shadow:rgb(255 255 255) 0 0 1rem;      
        }
    }



@media (min-width: 769px) and (max-width: 900px) {
    .grid-area3 {
        display: grid;
        height: 100vh;
        grid-template-areas: 
            "navb"
            "bann"
            "prop"
            "prod"  
            "foot";
            grid-template-columns: 100vw;
        }
        .banner {
            grid-area: bann;
            display:flex;
            background: linear-gradient(rgb(4 1 1),rgba(0, 0, 0, 0.034)) ,url(../img/producto/barberia.jpg);
            background-attachment: fixed;
            text-align: center;
            height: 20rem;
            align-items: center;
            justify-content: center;
            background-size:cover;
            h2 {
                animation-name: mover;
                animation-duration: 0s;
                animation-iteration-count: initial;
                }
        }
.prop {
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(45deg, #84837c,#b0a299);
    .parrafo {
        justify-content: center;
        p {
            text-align: center;
            font-size: 2rem;
            font-weight: bolder;
        }
    }
    .imag {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: space-evenly;
    img {
        border-radius: 2rem;
        border: 1rem solid gold;
        width: 30rem;
        margin: 1rem;
    }
    }
    .info {
        display: flex;
        flex-direction: column;
        border: 1rem  solid #dfc30f;
        width: 20rem;
        margin: 1rem;
        align-items: center;
        padding: 1rem;
        text-align: justify;
        background-color: #000000;
        color: white;
        h4 {
            text-align: center;
            text-decoration: underline;
        }
}
    .botonInfo {
        border: 0.5rem  solid #dfc30f;
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: #000000;
        h3 { 
            text-align: start;  
            text-decoration:underline;  
            color:white;
        }
    }
}



.grid-pr {
    grid-area: prod;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: black;
    padding: 2rem;
    .pr {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 6rem;
        justify-content: space-evenly;
        img{
            border-radius: 5rem;
            box-shadow: 0 0.5rem 1rem 0.5rem #b0a299;
            }
        .pr__texto{
            opacity: 1;
            font-size: 1.25rem;
            color: white;
            margin: 2rem;
            }
        }
}
}
@media (min-width: 577px) and (max-width: 768px) {
    .grid-area3 {
        display: grid;
        height: 100vh;
        grid-template-areas: 
            "navb"
            "bann"
            "prop"
            "prod"  
            "foot";
            grid-template-columns: 100vw;
        }
        .banner {
            grid-area: bann;
            display:flex;
            background: linear-gradient(rgb(4 1 1),rgba(0, 0, 0, 0.034)) ,url(../img/producto/barberia.jpg);
            background-attachment: fixed;
            text-align: center;
            height: 20rem;
            align-items: center;
            justify-content: center;
            background-size:cover;
            h2 {
                animation-name: mover;
                animation-duration: 0s;
                animation-iteration-count: initial;
                }
        }

.prop {
    height: auto;
    .imag {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: space-evenly;
        img {
            border-radius: 2rem;
            border: 1rem solid gold;
            width: 30rem;
            margin: 1rem;
        }
        }
}
        
.grid-pr {
    grid-area: prod;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: black;
    padding: 2rem;
    .pr {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 2rem;
        justify-content: space-evenly;
        .pr__img {
            width: 10rem;
            height: auto;
            img{
                width: 70%;
                border-radius: 5rem;
                box-shadow: 0 0.5rem 1rem 0.5rem #b0a299;
                }
        }
        .pr__texto {
            opacity: 1;
            margin-top: 3rem;
            }
        }
    }
}

@media (min-width: 325px) and (max-width: 576px) {
    .grid-area3 {
        display: grid;
        height: 100vh;
        grid-template-areas: 
            "navb"
            "bann"
            "prop"
            "prod"  
            "foot";
        grid-template-columns: 100vw;
    }


.banner {
    grid-area: bann;
    display:flex;
    background: linear-gradient(rgb(4 1 1),rgba(0, 0, 0, 0.034)) ,url(../img/producto/barberia.jpg);
    background-attachment: fixed;
    text-align: center;
    height: 20rem;
    align-items: center;
    justify-content: center;
    background-size:cover;
    h2 {
        color: rgba(255, 255, 255, 0.467);
        text-decoration: underline;
        font-size: 4rem;
        font-style: oblique;
        text-transform: uppercase;
        font-stretch: condensed;
        font-weight: bold;
        animation-name: mover;
        animation-duration: 0s;
        animation-iteration-count: initial;
        }
}

.prop {
    grid-area: prop;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(45deg, #84837c,#b0a299);
    .parrafo {
        justify-content: center;
        p {
            text-align: center;
            font-size: 2rem;
            font-weight: bolder;
        }
    }
    .imag {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: space-evenly;
    img {
        border-radius: 2rem;
        border: 1rem solid gold;
        width: 20rem;
    }
    }
    .info {
        display: flex;
        flex-direction: column;
        border: 1rem  solid #dfc30f;
        width: 20rem;
        margin: 1rem;
        align-items: center;
        padding: 1rem;
        text-align: justify;
        background-color: #000000;
        color: white;
        h4 {
            text-align: center;
            text-decoration: underline;
        }
}
    .botonInfo {
        border: 0.5rem  solid #dfc30f;
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: #000000;
        h3 { 
            text-align: start;  
            text-decoration:underline;  
            color:white;
        }
    }
}



.grid-pr {
    grid-area: prod;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: black;
    padding: 2rem;
    .pr {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 2rem;
        justify-content: space-evenly;
        img{
            width: 70%;
            border-radius: 5rem;
            box-shadow: 0 0.5rem 1rem 0.5rem #b0a299;
        }
        .pr__texto{
            opacity: 1;
            font-size: 1.25rem;
            color: white;
            margin: 1rem;
            }
        }
    }
}